


 <fieldset> 
 	<legend>Modele</legend>
	<label>Nom</label><input type="text"/>
	<label>Note</label><input type=number/>
	<label>Prix</label><input type=number/>
	<label>Description</label><input type="text"/>
	<label>Photo</label><input type="text"/>
	<button>Ajouter modele</button> 
</fieldset>

<fieldset>
	<select>
	<option>Selectionner un modele</option>
	</select>
	<select>
	<option>Selectionner une categorie</option>
	</select>
	<button>Valider la saisie</button> 
</fieldset>
