 <head>
  <meta charset="UTF-8"> 
<link rel="stylesheet" type="text/css" href="tmp.css">
</head>


<h2 class="pagename"> Commande </h2>

<form class="com">
	<div class=prixcom>
	<strong>prix total : </strong><p>54,0000 </p>
	  <strong>code promo :</strong><br>
	  <input type="text" name="promo"><br>
	   <p>-XX% </p> <br>
	  <strong>prix après réduction : </strong></p>24,0000 </p> 
	</div>
	<div class=addrcom>
	  <strong>Adresse :</strong><br>
	 <textarea name="adress" cols="40" rows="5"></textarea>
	</div>



	<div class="paiementcom">
	<strong>type de paiement :</strong> <br>
	  <input type="radio" name="gender" value="male" checked> CB<br>
	  <input type="radio" name="gender" value="female"> Paypal<br>
	  <input type="radio" name="gender" value="other"> Virement
	</div>
	
	<br>
	<br>
	<br>
	<img class="button" src="https://pixabay.com/static/uploads/photo/2012/04/02/16/11/check-24849_960_720.png" alt="ok">	
</form>
