
	<h1>Description produit: {{modele.nomModele}}</h2>
<div style="display: flex" id="productDesc" >
	
	<div class="productOptions" id="navLeftDesc" >
	<h3>Votre choix :</h3>
	<div>
		<!--  <label for="size">Taille:</label>-->  <label for="size">Tailles disponibles :</label>
		<select name="size" ng-model="tailleS" ng-options="article.taille for article in modele.articles | unique:'taille'">

		</select> 
	</div>
		
		  <div id="colorChooser">
			<label for="colors">Couleurs disponibles:</label>
		 	<select ng-disabled="!tailleS" name="colors" ng-model="colors" ng-options="article.couleur for article in modele.articles | filter: {taille: tailleS.taille}"></select> 
		</div>
		
		<div id="addCart"  ng-controller="getElementPanierCtrl">
			<input type=number ng-model="quantite">
			<a href="/shoes/#/cart"><button ng-click="getArticlePanier(modele.nomModele,modele.prix,tailleS.taille,quantite,colors.couleur)" >Ajouter au panier </button></a>
		</div>
		
	</div>
	<div id="description">
		<div class="productPhoto">
			<img src="{{modele.photo}}" alt="Photo du produit">
		</div>
		<div class="productText">
			<h2 style="margin: 0">Description du produit : </h2>
			<p>{{modele.description}}</p>
		</div>
	</div>
</div>