
	<h1>Description produit: {{modele.nomModele}}</h2>
<div style="display: flex" id="productDesc">
	
	<div class="productOptions" id="navLeftDesc" >
	<h3>Votre choix :</h3>
	<div>
		<!--  <label for="size">Taille:</label>-->  <label for="size">Article Disponible:</label>
		<select name="size" ng-model="tailleS" ng-options="article.taille for article in modele.articles | unique:'taille'">

		</select> 
	</div>
		
		  <div id="colorChooser">
			<label for="colors">Couleur:</label>
		 	<select name="colors" ng-options="article.couleur for "></select> 
		</div>
		
		<div id="addCart">
			<div id="cartQty"><a id="buttonSub" href>-</a><input type=number><a id="buttonAdd" href>+</a></div>
			<button>Ajouter au panier</button>
		</div>
		
	</div>
	<div id="description">
		<div class="productPhoto">
			<img src="{{modele.photo}}" alt="Photo du produit">
		</div>
		<div class="productText">
			<h2 style="margin: 0">Description du produit : </h2>
			<p>{{modele.description}}</p>
		</div>
	</div>
</div>