<div class='panier' ng-controller="getElementPanierCtrl">
	<h2 class="pagename"> Mon Panier </h2>

		
	<table class="tabarticle" >
		<tr><th>Modèle</th>
		<th>Pointure</th>
		<th>Couleur</th>
		<th>Quantité</th>
		<th>Supression</th>
		<th> Prix individuel(€)</th>
		<th>Prix total(€)</th></tr>
		<tr ng-repeat="article in panier track by $index " >
		<td>{{article.nomModele}}</td>
		<td>{{article.taille}}</td>
		<td>{{article.couleur}}</td>
		<td>{{article.quantite}}</td>
		<td><a href ng:click="removeItem($index)"><img class="btntab" src="gfx/corbeille.png" alt=corb"></td></a>
		<td> {{article.prix}}</td>
		<td>{{ article.quantite*article.prix  | number:2}} €</td>
		</tr>
		<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Total :</td>
		<td>{{total()  | number:2}} €</td>
		</tr>
		
	</table>

 <!--  <table class="tabarticle" ng-controller="getElementPanierCtrl" >
		<tr><th>Modèle</th></tr>
		<tr ng-repeat="article in panier.articles"><td>{{article}}</td></tr>
	</table>-->
	<div class="btncontainer">
		
		<div class="btnlign">
			<a href  ng:click="removeAllItems()"><img class="button" src="gfx/corbeille.png" alt=corb"></a>
			
			<p>Vider le panier</p>
		</div>
		<div class="btnlign" >
			<img class="button" src="gfx/valider.png" alt="ok">	
			<p>Passer commande </p>
		</div> 
	
	
	</div>

</div>