<div class='panier'>
	<h2 class="pagename"> Mon Panier </h2>
	<table class="tabarticle">
		<tr><th>Modèle</th><th>Pointure</th><th>Couleur</th><th>motif</th><th>Quantité</th><th>Ajout/Retrait</th><th>Supression</th><th> Prix individuel(€)</th><th>Prix total(€)</th></tr>
		<tr><td>A200</td><td>42</td><td>bleu</td><td>aucun</td><td>2</td><td><img class="btntab" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Ambox_emblem_minus.svg/200px-Ambox_emblem_minus.svg.png" alt="moins" > <img class="btntab" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Ambox_emblem_plus.svg/2000px-Ambox_emblem_plus.svg.png" alt="plus" ></td><td><img class="btntab" src="https://pixabay.com/static/uploads/photo/2013/07/13/01/12/trashcan-155299_960_720.png" alt=corb"></td><td> 25.00</td><td>50.00</td></tr>
		<tr><td>A200</td><td>42</td><td>bleu</td><td>aucun</td><td>2</td><td><img class="btntab" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Ambox_emblem_minus.svg/200px-Ambox_emblem_minus.svg.png" alt="moins" > <img class="btntab" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Ambox_emblem_plus.svg/2000px-Ambox_emblem_plus.svg.png" alt="plus" ></td><td><img class="btntab" src="https://pixabay.com/static/uploads/photo/2013/07/13/01/12/trashcan-155299_960_720.png" alt=corb"></td><td> 25.00</td><td>50.00</td></tr>
	</table>
	<div class="btncontainer">
		
		<div class="btnlign">
			<img class="button" src="https://pixabay.com/static/uploads/photo/2013/07/13/01/12/trashcan-155299_960_720.png" alt=corb">
			
			<p>Vider le panier</p>
		</div>
		<div class="btnlign">
			<img class="button" src="https://pixabay.com/static/uploads/photo/2012/04/02/16/11/check-24849_960_720.png" alt="ok">	
			<p>Passer commande</p>
		</div>
	</div>
	
		
</div>