


<h2 class="pagename"> Merci de votre commande </h2>
<table class="tabarticle">
	<tr><th>Modèle</th><th>Pointure</th><th>Couleur</th><th>motif</th><th>Quantitée</th><th> Prix individuel(€)</th><th>Prix total(€)</th></tr>
	<tr><td>A200</td><td>42</td><td>bleu</td><td>aucun</td><td>2</td><td> 25.00</td><td>50.00</td></tr>
	<tr><td>A200</td><td>42</td><td>bleu</td><td>aucun</td><td>2</td><td> 25.00</td><td>50.00</td></tr>
</table>
<div class="addrprix">
	<div class="inline"><strong>adresse : </strong><p>38 impasse des moulins 75000 Paris</p></div>
	<div class="inline"><strong>code réducion : </strong><p>30</p><p>%</p></div>
	<div class="inline"> <strong>prix total(€) : </strong><p>24000,00</p></div>
</div>
